@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$color: purple;

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;

    font-family: "Montserrat", Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: black;

    user-select: none;
}

p {
    margin: 0;
}

.container {
    width: 450px;
    margin: 0 auto;
    margin-top: 60px;
}

.grid {
    position: relative;
    margin-bottom: 10px;
    width: 100%;
    height: 420px;
    background-color: lightgray;
    border: 1px solid lightgray;
    will-change: contents;
    transition: .3s;
}

.grid-button {
    position: absolute;
    top: 0;
    left: 0;

    font-size: 22px;
    padding: 0;
    color: black;

    background-color: white;
    border: none;
    border: 1px solid lightgray;
    transition: .3s;
    &:hover {
        cursor: grab;
        background-color: rgb(248, 248, 248);
    }
}

.grid-button-three {
    width: 33.33%;
    height: 33.33%;
    font-size: 32px;
}

.grid-button-four {
    width: 25%;
    height: 25%;
}

.grid-button-five {
    width: 20%;
    height: 20%;
}

.grid-button-six {
    width: 16.66%;
    height: 16.66%;
}

.grid-button-seven {
    width: 14.28%;
    height: 14.28%;
    font-size: 20px;
}

.grid-button-eight {
    width: 12.5%;
    height: 12.5%;
    font-size: 18px;
}

.game-model-containder {
    text-align: center;
    width: 100%;
    .game-model-wrapper {
        margin-bottom: 6px;
    }
}

.current-size {
    cursor: default;
    pointer-events: none;
}

.time-moves-container {
    display: flex;
    justify-content: center;
    width: 100%;
    .moves-wrapper {
        width: 120px;
        margin-right: 60px;
    }
    .time-wrapper {
        width: 120px;
    }
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    button {
        padding: 10px 25px;
        font-size: inherit;
        font-weight: inherit;
        color: white;
        border-radius: 5px;
        border: none;
        background-color: #40404a;
        transition: .2s;
        &:hover {
            cursor: pointer;
            background-color: #202026;
        }
        &:active {
            background-color: black;
            transform: scale(0.98);
        }
    }
}

.stop-audio {
    transition: .3s;
    text-decoration: line-through 3px;
}

.overlay {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  
    width: 300vh;
    height: 100vh;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    transition: .3s;
    opacity: 0;
  }
  
.overlay-show {
    pointer-events: all;
    opacity: 1;
  }

.results-container {
    position: absolute;
    z-index: 2;

    top: 100px;
    left: 50%;
    margin-left: -150px;

    width: 300px;
    height: 400px;
    padding: 10px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    &::before,
    &::after {
        position: absolute;
        content: '';

        top: -10px;
        right: -20px;

        width: 18px;
        height: 2px;

        background-color: white;
    }
    &::before {
        transform: rotate(45deg);
    }
    &::after {
        transform: rotate(-45deg);
    }
}

.results-title {
    margin: 0;
}

.result-list {
    padding: 0;
    list-style: none;
    .result-item {
        font-size: 16px;
        margin-bottom: 3px;
    }
}

@media screen and (max-width: 999px) {
    .container {
        width: 400px;
    }
    .grid {
        height: 380px;
    }
    .button-container {
        button {
            padding: 10px 20px;
        }
    }
}

@media screen and (max-width: 767px) {
    .container {
        width: 280px;
    }
    .time-moves-container {
        font-size: 16px;
    }
    .grid {
        height: 280px;
    }
    .game-model-containder {
        font-size: 14px;
    }
    .button-container {
        button {
            font-size: 16px;
            padding: 7px 8px;
        }
    }
    .results-container {
        width: 240px;
        margin-left: -120px;
        height: 300px;
    }
    .results-title {
        font-size: 16px;
    }
    .result-list {
        margin-top: 2px;
        margin-bottom: 2px;
        .result-item {
            font-size: 12px;
            margin-bottom: -5px;
        }
    }
}